<%= provide(:title, "#{@folder.name} - RetroBox") %>
      
      <div class="row">
        <div class="large-12 columns">
          <%= breadcrumbs_helper(@client, @folder) %>
        </div>
      </div>

    <div class="row">
        <div class="large-12 columns">
         <%= menu_helper(@client, @folder_id) %>
        </div>
      <hr/>
    </div>
      <% if !@folders.nil? %>
       <% @folders.each do |f| %>
      <div class="row">
        <div class="large-10 columns">
              <%= listing_helper(@client, f) %>
        </div>
        <div class="large-2 columns">
          <%= options_helper(@client, f, @folder_id) %>
        </div>
        <hr/>
      </div>
      <% end %>
     <% end %>
     
     
    