<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "RetroBox" %></title>

    <%= stylesheet_link_tag    "application" %>
    <!--Commented out because not using the JsTree. -->
    <!--<link rel="stylesheet" href="/assets/stylesheets/themes/default/style.min.css" />-->
    <!--<script src="/assets/dist/jstree.min.js"></script>-->
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
        <div class="large-12 columns">
          <div class="panel">
            <div class="row">
              <div class="large-7 columns">
                <h1><%= link_to "RetroBox <i class=\"fi-archive\"></i>".html_safe, root_path %></h1>
              </div>
              <div class="large-5 columns">
                <a data-dropdown="dropUser" aria-controls="dropUser" aria-expanded="false" class='align_right'><h4><%= @user_name %></h4></a>
                <ul id="dropUser" class="bottom f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                  <li> <%= link_to "Sign out", main_sign_out_path() %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    <%= render 'shared/flash' if !flash.empty? %>
    
    <%= yield %>
    
 <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-5 columns">
              <p>© Copyright Retrofit Inc.<br />
              Feel free to use for learning but please do not copy the name, styling, or code verbatim.</p>
            </div>
            <div class="large-7 columns">
              <ul class="inline-list right">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Boxr Gem", "https://github.com/cburnette/boxr" %></li>
                <li><%= link_to "Box Content API Docs", "https://box-content.readme.io/#api-docs-directory" %></li>
                <li><%= link_to "GitHub", "https://github.com/gkulasik/RetroBox"%></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
  </body>
</html>
